:root {
    --color-default: #eb2f64;
    --color-default-lighten: #FF3366;
    --color-default-darken: #BA265D;
    --color-pink: pink;
    --color-orange: orange;
    --color-bule-lighten: skyblue;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem = 10px;    (10px / 16px) = 62.5%;*/
}
